 /*----------------------------------
		Theme417_Windy
		Cat Generic
----------------------------------*/

body {
	margin: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #54565F;
	color:#fff;		
}

.sf_outer_wrapper {
	width: 874px !important;
    margin: 10px auto;
    padding: 0;		
}

.sf_extra1 {
	background-image:url(images/header.gif);
	height:12px;
	width:874px;	
}

.sf_wrapper {
	width:850px !important;
    position: relative;
	border-left:12px solid #FFFFFF;
	border-right:12px solid #FFFFFF;
	background-color: #000;
}

/*--------------------------------
		Top Navigation
---------------------------------*/

.sf_navigation_top {
	display: none;
}

.sf_navigation_top ul{
	
}

.sf_navigation_top ul:after{
	
}

.sf_navigation_top ul li {
	
}

.sf_navigation_top ul li.sf_last_nav_item{
	
}

.sf_navigation_top ul li.sf_first_nav_item{

}

.sf_navigation_top ul li a {
}

.sf_navigation_top ul li a:visited {	
	
}

.sf_navigation_top ul li a:hover{
}

/*--------------------------------
		End Top Navigation
---------------------------------*/


.sf_extra10 {
	
}


/*--------------------------------
		Header
---------------------------------*/

.sf_header_wrapper {
	top: 0;
	left: 0;
	height:200px;
	position:relative;
	width:850px;
	
}

.sf_extra2 {
	
}

.sf_main_header {
	text-align: left;
	height: 125px;
	overflow: hidden;
	width: 300px;
	font-family: verdana, helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: normal;
	font-variant: normal;
	padding: 40px 0 0 40px;		
}

.sf_extra3 {
	sf_edit: true;
}

.sf_sub_header {
	display: none;
}

.sf_main_header p, .sf_sub_header p {
	margin: 0;
	padding: 0;
}

/*--------------------------
		End Header
--------------------------*/


.sf_extra4 {
	
}


/*--------------------------------
		Bottom Navigation
---------------------------------*/

.sf_navigation{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: left;
	display: inline;
	width: 170px;
	height: auto !important;
	margin-left: 7px;
	margin-bottom: 10px;
}

.sf_navigation ul{
	font-size:11px;		
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0;	
}

.sf_navigation ul:after{
	content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 1px;
    clear: both;
}

.sf_navigation ul li {	
	font-weight: bold;
}
.sf_navigation ul li.sf_last_nav_item{
}

.sf_navigation ul li.sf_first_nav_item{

}

.sf_navigation ul li a {
	text-decoration: none;
	text-align: left;	
	padding: 4px 3px 4px 6px;	
	display: block;
	margin-top: 2px;
	width:161px;
	
}

.sf_navigation ul li a:visited {

}

.sf_navigation ul li a:hover{
}
/*------------------------------------
	Flyout - Left Aligned Menu
------------------------------------*/
#Nav1 iframe {
	position: absolute;
	/* account for the border */
	left: -0.25em;
	top: -0.25em;
	z-index: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
	margin-left: 3px;
}
.sf_subnavigation, .sf_subnavigation2 {
	display:none;
}

#Nav1 li ul {  
	position:absolute;
	left: -999em;
	width:132px;
	background:#000000;
	padding:2px 5px 5px 5px;
	margin:-25px 0 0 125px;
	z-index:1000;
}
#Nav1 li a {
	display : block;
}
#Nav1 li {
	float:left;
	width:170px;
}
#Nav1 li ul li {
	margin:0;
	padding:0;
	width:120px;
	float:left;
}
#Nav1 li ul li a {
	display : block;
	width:120px;
	height:auto;
	padding:3px 5px;
	white-space:normal;
}
#Nav1 li ul li a:hover {
}
#Nav1 li:hover ul, 
#Nav1 li.sfhover ul {  
	left: auto;
}
/*--------------------------------
		End Bottom Navigation
---------------------------------*/



.sf_extra5 {
}



/*--------------------------------
		 	Page Title
---------------------------------*/

.sf_pagetitle {
	float:right;
	font-size: 22px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 4px 10px 0 0;
	padding: 5px 0;
	width: 615px;
}

.sf_pagetitle h1 {
	font-size:22px;
	font-weight:normal;
	margin:0;
}

/*--------------------------------
		 End Page Title
---------------------------------*/



.sf_extra6 {
}



/*--------------------------------
		 Sub Navigation
---------------------------------*/

.sf_subnavigation {
	display: none;
}

.sf_subnavigation ul{
	
}

.sf_subnavigation ul:after{
	
}

.sf_subnavigation ul li {
	
}

.sf_subnavigation ul li.sf_last_nav_item{

}

.sf_subnavigation ul li.sf_first_nav_item{

}

.sf_subnavigation ul li a {
	
}

.sf_subnavigation ul li a:visited {
	
}

.sf_subnavigation ul li a:hover{
	
}

/*--------------------------------
		 End Sub Navigation
---------------------------------*/

.sf_extra11 {

}
	
/*--------------------------
		Content
--------------------------*/

.sf_content {
	float: right;
	display:inline;
	sf_edit: true;
	width: 625px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 100px;	
}

.sf_content img {
	
}

/*--------------------------
		End Content
--------------------------*/



.sf_extra12 {
	sf_edit: true;
}



/*--------------------------------
		 Sub Navigation2
---------------------------------*/

.sf_subnavigation2 {
	display: none;
}

.sf_subnavigation2 ul{
	
}

.sf_subnavigation2 ul:after{
	
}

.sf_subnavigation2 ul li {
	
}

.sf_subnavigation2 ul li.sf_last_nav_item{

}

.sf_subnavigation2 ul li.sf_first_nav_item{

}

.sf_subnavigation2 ul li a {
	
}

.sf_subnavigation2 ul li a:visited {
	
}

.sf_subnavigation2 ul li a:hover{
	
}

/*--------------------------------
		 End Sub Navigation2
---------------------------------*/



.sf_extra7 {
}

.sf_extra7 span{
	
}



/*--------------------------
		 Footer
--------------------------*/

.sf_footer {
	sf_edit: true;	
	clear: both;
	text-align: right;
	padding: 4px;	
    font-size: 10px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;   
	margin-top: 10px;	
}

.sf_footer p {
	padding: 0;
	margin: 0;
}

/*--------------------------
		End Footer
--------------------------*/


.sf_extra8 {
	
}

.sf_extra9 {
	background-image:url(images/footer.gif);
	height:12px;
	width:874px;	
}


/*--------------------------
		Extra Stuff
--------------------------*/


a:link {
	color: #fff;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.sf_banner {
	margin: 40px auto 0 auto;
	text-align: center;
}

#bannerLink {
	padding: 5px;
}
/**
 * Sticking flyout menu bug
 *
 * @bugfix
 * @affected ie7
 * @css-for ie7
 * @valid yes
 */
#Nav1 li:hover, #Nav1 li.hover {  
    position: static;  
} 
