
.sf_navigation ul li a {
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
}
.sf_navigation ul li {	
	font-weight: normal;
}
}

.Data_Central_color4 {
	background-color:#8B7E8B;
}

.Data_Central_color5 {
	border-color:#8B7E8B;
}

.Data_Central_color4 {
	background-color:#ffffff;
}